@using WorkNCInfoService.Mvc5.ViewModel;
@model PagedList.IPagedList<AspUserWorkNc>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("Search", "UserPermission")
<div>
    <input type="checkbox" value="Online" id="lockoutUer" name="lockoutUer"/> Online
</div>
<input type="button" value="Create" class="btn btn-success" title="Create" onclick="location.href='@Url.Action("Register","UserPermission")'"/>

<table class="table">
    <tr class="td-border" style="background-color: green; color: white;">
        <th>
            <div class="colorSort">@Html.ActionLink("Username", "Index", new { sortOrder = ViewBag.UsernameSort, currentFilter = ViewBag.CurrentFilter })<span class="caret"></span></div>
        </th>
        <th>
            Email
        </th>
        <th>
            Approve
        </th>
        <th>
            Confirmed
        </th>
        <th>
            Web Permission
        </th>
        <th>
            App Permission
        </th>
        <th>
            Reset Password
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.UserName)
        </td>

        <td class="td-border">
            @Html.DisplayFor(modelItem=>item.Email)
        </td>
        <td class="td-border">
            @if(item.EmailConfirm.Equals(true))
            {
                <i class="glyphicon glyphicon-ok"></i>
            }
            else
            {
                <p> </p>
            }
        </td>
        <td class="td-border">
            @if(item.EmailConfirm.Equals(true))
            {
                @Html.ActionLink("Approve","Index",null, new { @id = item.UserName })
            }
            else
            {
                @Html.ActionLink("Disapprove", "Index", null, new { @id = item.UserName })
            }
        </td>
        <td class="td-border">
            @Html.CheckBoxFor(modelItem => item.AppPermission, new { id= "AppPermission" })
        </td>
        <td class="td-border">
            <a>Reset Password</a>
        </td>
        <td class="td-border">
            @Html.ActionLink("Edit", "Edit", new { id = item.UserName }) 
            @Html.ActionLink("Details", "Details", new { id = item.UserName }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.UserName })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

@section scripts{
    <script language="javascript">

        $(function () {
            
            //Set AppPermission
            $('#AppPermission').change(function () {
                if ($(this).is(':checked')) {
                    $('#AppPermission').prop('checked', true);
                }
                else
                {
                    $('#AppPermission').prop('checked',false);
                }
            });

            $('#EmailConfirm').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/UsePermission/EmailConfirm'+userName,
                    dataType: 'Json',
                    success: function (data) {
                        $.each({
                            
                        });
                    }
                });
            });
        });
    </script>    
}