<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-app="MyApp">
    <div class="main">
        <div class="banner">
            <img src="~/Images/banner.jpg" />
        </div>
        <div class="navbar nav-color">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "WorkZone")</li>
                    <li>@Html.ActionLink("Work Zone", "Index", "WorkZone")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Master <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Factory","Index","Factory")</li>
                            <li>@Html.ActionLink("Machine", "Index", "Machine")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
        <div class="content">
           <div>
               @RenderBody()
           </div>
        </div>
        <div class="footer">
            <p>Copyright ©2015 DataDesign Co., Ltd. All rights reserved.</p>
        </div>
    </div><!--Container-->

    @Scripts.Render("~/bundles/jquery")    
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @* Add Angular Library Here *@
    @*@Scripts.Render("~/bundles/angular")
    <script src="~/Scripts/MyApp.js"></script>
    <script src="~/Scripts/AngularController/CascadingController.js"></script>*@
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/cascading.js"></script>
    <script type="text/javascript">
        
    </script>    
</body>
</html>
