<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-app="MyApp">
    <div class="main">
        <div class="banner">
            <img src="~/Images/banner.jpg" />
        </div>
        <div class="navbar nav-color">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                @if (!String.IsNullOrEmpty(User.Identity.Name))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>

                        <li>@Html.ActionLink("Work Zone", "Index", "WorkZone")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Master <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Factory", "Index", "Factory")</li>
                                <li>@Html.ActionLink("Machine", "Index", "Machine")</li>
                            </ul>
                        </li>
                        @if (User.IsInRole("Chief"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Register User", "Register", "UserPermission")</li>
                                    <li>@Html.ActionLink("Manage User", "Index", "UserPermission")</li>
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Register Company", "Index", "Company")</li>
                                    <li>@Html.ActionLink("Register User", "Register", "UserPermission")</li>
                                    <li>@Html.ActionLink("Manage User", "Index", "UserPermission")</li>
                                </ul>
                            </li>
                        }

                        <li>@Html.ActionLink("About", "About", "Home")</li>
                    </ul>
                    @Html.Action("FillDropDownCompany", "Company")
                }
                else
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>

        </div>
        <div class="content">
            <div class="language">
                @Html.Action("SetLanguage", "Home")
            </div>
            <div>
                @RenderBody()
            </div>
        </div>
        <div class="footer">
            <p>Copyright ©2015 DataDesign Co., Ltd. All rights reserved.</p>
        </div>
    </div><!--Container-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/cascading.js"></script>
    <script language="javascript">
        function ChangeDropdownCompany() {
            $.ajax({
                type: 'GET',
                url: '/Company/ChangeDropdownCompany',
                data: { companyId: $('#dropdownCompanyId').val() },
                success: function (data) {
                    setTimeout(function () { window.location = window.location }, 100);
                }
            });
        }
        $(function () {
            //jQuery date Timepicker
            $('#StartDate').datepicker({
                dataFormat: 'dd-M-yy',
                changeMonth: true,
                changeYear: true,
                showOn: 'button'
            }).css('display', 'inline-block')
            .next('button').button({
                icons: { primary: "ui-icon-calenda" },
                label: 'select a date',
                text: false
            });

            //jQuery date Timepicker
            $('#EndDate').datepicker({
                dataFormat: 'dd-M-yy',
                changeMonth: true,
                changeYear: true,
                showOn: 'button'
            }).css('display', 'inline-block')
            .next('button').button({
                icons: { primary: "ui-icon-calenda" },
                label: 'select a date',
                text: false
            });

            //choose language
            $('.culture').click(function () {
                $('#culture').val($(this).data('culture')); // update the hidden input
                $('form').submit();
            })
        });
    </script>

</body>
</html>
