@using WorkNCInfoService.Mvc5.Models.WorkModels;
@model PagedList.IPagedList<WorkNC_Factory>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Action("Search","Factory")
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="td-border" style="background-color: green; color: white;">
        <th>
            <p class="colorSort">Company</p>
        </th>
        <th>
            <p class="colorSort">@Html.ActionLink("No","Index",new {sortOrder=ViewBag.NoSortParm, currentFilter = ViewBag.CurrentFilter })</p>
        </th>
        
        <th>
            <p class="colorSort">@Html.ActionLink("Company", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</p>
        </th>
        <th>
            <p class="colorSort">Images</p>
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.CompanyId)
        </td>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.No)
        </td>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.ImageFile)
        </td>
        <td class="td-border">
            @Html.ActionLink("Edit", "Edit", new { id=item.FactoryId }) 
            @Html.ActionLink("Details", "Details", new { id=item.FactoryId }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.FactoryId })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount <Model.PageNumber?0:Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page=>Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter}))
@*<p class="sotrang">Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</p>
<div id="pageList">
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page = Page }))
</div>*@
@section scripts{
    <script language="javascript">

        $('#chkFactory').change(function () {
            if ($(this).is(":checked")) {
                $.ajax({
                    type: 'GET',
                    url: '/Factory/Index',
                    dataType: 'Json',
                    data: { isDeleted: $('chkFactory').val() },
                    success: function (data) {
                        $('#chkFactory').prop('checked', true);
                    }
                });
            }

            else {
                $.ajax({
                    type: 'GET',
                    url: '/Factory/Index',
                    dataType: 'Json',
                    data: { isDeleted: $('chkFactory').val() },
                    success: function (data) {
                        $('#chkFactory').prop('checked', false);
                    }
                });
            }
        });
    </script>
}