@using WorkNCInfoService.Mvc5.Models.WorkModels;
@using PagedList.Mvc;
@model PagedList.PagedList<WorkNC_Factory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Action("Search","Factory")
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p>Company</p>
        </th>
        <th>
            <p>No</p>
        </th>
        <th>
            <p>Name</p>
        </th>
        <th>
            <p>Deleted</p>
        </th>
        <th>
            <p>Images</p>
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageFile)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FactoryId }) 
            @Html.ActionLink("Details", "Details", new { id=item.FactoryId }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.FactoryId })
        </td>
    </tr>
}

</table>
<p class="sotrang">Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</p>
<div id="pageList">
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page = Page }))
</div>
<style>
    #pageList {
        display: inline;
    }

    p.sotrang {
        color: forestgreen;
        margin: 5px 0 0 15px;
        font-weight: bold;
    }
</style>
