@model IEnumerable<WorkNCInfoService.Mvc5.Models.WorkModels.WorkNC_WorkZone>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("Search", "WorkZone")

<input type="submit" value="Edit" class="btn btn-success"/>
<input type="submit" value="Delete" class="btn btn-success"/>
<table class="table">
    <tr class="td-border" style="background-color: green; color: white;">
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FactoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelDataProgramer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NCDataProgramer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgramDate)
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MachiningTimeTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="td-border">
        <td class="td-border">
            <input type="checkbox"  id="chkWorkzone" name="chkWorkzone"/>
        </td>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.FactoryName)
        </td>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.ModelDataProgramer)
        </td>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.NCDataProgramer)
        </td>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.ProgramDate)
        </td>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.ModelName)
        </td>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.Parts)
        </td>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.PartName)
        </td>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.MachiningTimeTotal)
        </td>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td class="td-border">
            @Html.ActionLink("Edit", "Edit", new { id=item.WorkZoneId })
            @Html.ActionLink("Details", "Details", new { id=item.WorkZoneId })
            @Html.ActionLink("Delete", "Delete", new { id=item.WorkZoneId })
        </td>
    </tr>
}
</table>
<style>
    
</style>
