@model IEnumerable<MVCtest.Models.WorkModels.WorkNC_UserPermission>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="td-border" style="background-color: green;">
        <th>
            @Html.DisplayNameFor(model => model.CompanyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebPermission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppPermission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedAccount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="td-border">
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.CompanyId)
        </td>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.WebPermission)
        </td>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.AppPermission)
        </td>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.CreateAccount)
        </td>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td class="td-border">
            @Html.DisplayFor(modelItem => item.ModifiedAccount)
        </td>
        <td class="td-border">
            @Html.ActionLink("Edit", "Edit", new { id=item.Username }) |
            @Html.ActionLink("Details", "Details", new { id=item.Username }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Username })
        </td>
    </tr>
}

</table>
